.list {
  display: grid;
  margin: 0;
  /* https://css-tricks.com/responsive-layouts-fewer-media-queries/ */
  --w: 280px;
  --n: 2;
  gap: var(--size-gap);
  grid-template-columns: repeat(
    auto-fit,
    minmax(max(var(--w), 100%/ (var(--n) + 1) + 0.1%), 1fr)
  );
  margin-bottom: var(--size-gap);
  margin-top: var(--size-gap);
  padding-left: 1.2rem;
}

.listItem {
  margin: 0;
}

/* .listItem::marker {
  color: #2bc301;
} */

/* .listItem:nth-child(2)::marker {
  color: #159bf3;
}

.listItem:nth-child(3)::marker {
  color: #8eb814;
}

.listItem:nth-child(4)::marker {
  color: #335299;
} */

.listItemLink {
  color: var(--color-code-bg);
  font-weight: bold;
  text-decoration: none;
}

.listItemLink:hover{
color: var(--color-code-bg);
}

.listItemDescription {
  color: var(--color-text);
  margin-bottom: 0;
  margin-top: var(--space-1);
}

.intro {
  max-width: none;
  line-height: var(--line-height-loose);
}

.hero{
  display: flex;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.decoration {
margin:0 2vw;
order: 1;
}

.info {

}